<div class="row">
  <div class="col m6 offset-m3 center">

    <h5>Edit <%= resource_name.to_s.humanize %></h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render partial: "shared/devisemes" %>

      <div class="input-field">
        <%= f.text_field :name, :id => "name", :class => "validate", :placeholder => "Name", autofocus: true %>
      </div>

      <div class="input-field">
        <%= f.email_field :email, :id => "email", :placeholder => "Email", :class => "validate" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="input-field">
        <%= f.password_field :password, :id => "password", :placeholder => "New Password (leave blank if you don't want to change it)", :class => "validate", autocomplete: "off" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password_confirmation, :id => "password_confirmation", :placeholder => "Confirm Password", :class => "validate", autocomplete: "off" %>
      </div>

      <div class="input-field">
        <%= f.password_field :current_password, :id => "current_password", :placeholder => "Type current password to confirm your change", :class => "validate", autocomplete: "off" %>
      </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">Update</button>
      <%= link_to "Back", :back, :class => "btn waves-effect waves-light" %>
    <% end %>

                  <!-- Pricing Box
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">


                    <div class="fancy-title title-dotted-border title-center">
                        <h3>Donate</h3>
                    </div> 

                
                <div class="container-fluid">

                      <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

                          <div class="panel-group" id="accordion">

                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#pick-amount">
                                  <h4 class="panel-title">
                                    How much would you like to donate?
                                  </h4>
                                </a>
                              </div>

                              <div id="pick-amount" class="panel-collapse collapse in">
                                <div class="panel-body">

                                  <ul class="list-group amounts">
                                    <li class="list-group-item">
                                      <input type="radio" name="amount" value="500">
                                      <div>$500</div>
                                    </li>

                                    <li class="list-group-item">
                                      <input type="radio" name="amount" value="250">
                                      <div>$250</div>
                                    </li>

                                    <li class="list-group-item">
                                      <input type="radio" name="amount" value="100" checked>
                                      <div>$100</div>
                                    </li>

                                    <li class="list-group-item">
                                      <input type="radio" name="amount" value="50" checked>
                                      <div>$50</div>
                                    </li>

                                    <li class="list-group-item">
                                      <input type="radio" name="amount" value="25" checked>
                                      <div>$25</div>
                                    </li>

                                    <li class="list-group-item custom">
                                      <input type="radio" name="amount" value="custom">
                                      <div>
                                        <input type="text" name="custom_amount" class="form-control" placeholder="Enter an amount" type="number" pattern="\d+">
                                      </div>
                                    </li>
                                  </ul>

                                  <div class="continue">
                                    <button class="button button-3d button-mini button-rounded button-black" data-toggle="collapse" data-parent="#accordion" href="#pick-method">Continue</button>
                                  </div>

                                </div>
                              </div>
                            </div>

                            <div class="panel panel-default">
                              <div class="panel-heading">
                                <a data-toggle="collapse" data-parent="#accordion" href="#pick-method">
                                  <h4 class="panel-title">
                                    How would you like to donate?
                                  </h4>
                                </a>
                              </div>

                              <div id="pick-method" class="panel-collapse collapse">
                                <div class="panel-body">

                                  <div class="row">
                                    <div class="col-sm-6 method">
                                      <p>With a credit card:</p>
                                      <button class="button button-3d button-mini button-rounded button-black" id="pay-with-card">Pay with card</button>
                                    </div>

                                    <div class="col-sm-6 method">
                                      <p>With Paypal:</p>
                                      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" id="paypal">
                                        <input type="hidden" name="amount" id="paypal-amount">
                                        <input type="hidden" name="cmd" value="_donations">
                                        <input type="hidden" name="business">
                                        <input type="hidden" name="lc" value="US">
                                        <input type="hidden" name="item_name" value="Donation">
                                        <input type="hidden" name="no_note" value="0">
                                        <input type="hidden" name="currency_code" value="USD">
                                        <input type="hidden" name="bn" value="PP-DonationsBF:btn_donateCC_LG.gif:NonHostedGuest">
                                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                      </form>
                                    </div>
                                  </div>

                                  <div class="row">
                                    <div class="col-sm-6 method">
                                      <p>With Amazon Simple Pay:</p>
                                      <form action="https://authorize.payments.amazon.com/pba/paypipeline" method="post" target="_top">
                                        <input type="hidden" name="processImmediate" value="1" >
                                        <input type="hidden" name="signatureMethod" value="HmacSHA256" >
                                        <input type="hidden" name="accessKey" value="11SEM03K88SD016FS1G2" >
                                        <input type="hidden" name="collectShippingAddress" value="0" >
                                        <input type="hidden" name="isDonationWidget" value="1" >
                                        <input type="hidden" name="description" value="Support Glide Foundation" >
                                        <input type="hidden" name="amazonPaymentsAccountId" value="XHWRVRUHBPYO2283NDJS5FXTMSN5AN7GURBRMC" >
                                        <input type="hidden" name="cobrandingStyle" value="logo" >
                                        <input type="hidden" name="signatureVersion" value="2" >
                                        <input type="hidden" name="immediateReturn" value="1" >
                                        <input type="hidden" name="signature" value="Geirs4n2cziqRMhpfoKCb1vDDZs054IONh45JbSjECs=" >
                                        <input type="hidden" name="amount" id="amazon-amount">
                                        <input type="image" src="amazon-button.gif" border="0">
                                      </form>
                                    </div>

                                    <div class="col-sm-6 method" id="google-wallet-col">
                                      <p>With Google Wallet:</p>
                                      <a id="google-wallet" href="#"><img height="30" width="146" src="https://developers.google.com/wallet/images/buy-button.png"/></a>
                                    </div>
                                  </div>

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row footer">
                        <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                          <a href="mailto:matt@criticalgallery.org" target="_blank">Email us</a> if you have any questions or concerns.
                        </div>
                      </div>

                    </div><!-- container-fluid -->

                    <div class="modal fade" id="result">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="message">Loading...</h4>
                          </div>
                        </div>
                      </div>
                    </div>

        </section><!-- #content end -->

  </div>
</div>
