 <div class="row"> 
    <div style="height: 258px;" id="hero">
        <div class="container" id="hero-text-container">
            <div class="row">
                    <div class="spacer"></div>
                <div class="col s12 center-align">
                    <div id="hero-title">
                        <!--<img class="img-responsive" src="images/logo/sprout.svg" alt="Little Seed" width="160" height="160">-->
                        <h1 style="font-size: 71px;" id="hero-title-one" itemprop="description"><span class="bold">CMAC Tutorials</span></h1>
                        <h1 style="font-size: 44px;" id="hero-title-two" itemprop="description"><span class="thin"> Coding Screencasts from Computation Media Arts and Cultures @ Duke University</span></h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <div class="center-align"> 
                        <%= link_to "Sign Up", new_user_registration_path, class: "waves-effect waves-light btn-large" %>
                        <br>
                        <br>
                        <span>Already a User? <a><%= link_to "Login", new_user_session_path %></a>
                        <div class="spacer"></div>
                        <div class="spacer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>

    <div class="container">
        
        <div class="divider"></div>

              <div class="section">
                <div class="spacer"></div>


                <!--   Icon Section   -->
                  <div class="row center">
                    <div class="col s12">
                      <div class="icon-block">
                        <h4 class="center">Computational Media, Arts & Cultures represents a collection of related activities at Duke University. Originating in the Department of Art, Art History & Visual Studies and the Mellon-supported Visual Studies Initiative, CMAC has evolved to include various graduate programs and collaborative research initiatives.</h4>
                    </div>
                  </div>
                </div>

                <div class="spacer"></div>

                <h3 class="center thin">Courses</h3>

	            <div class="col s12 m6 l4">
					<div class="card">
						
						<div class="card-image">
						 <%= image_tag "processingarduino.jpg", class: "circle responsive-img" %>
						</div>
						
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
							</span>
							<h4>Physical Programming with Processing + Arduino</h4>
						</div>

					</div>
				</div>

				<div class="col s12 m6 l4">
					<div class="card">
						
						<div class="card-image">
						<%= image_tag "processingsupercollider.jpg", class: "circle responsive-img" %>
						</div>
						
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
							</span>
							<h4>Sound and Visuals with Processing + Supercollider</h4>
						</div>

					</div>
				</div>

				<div class="col s12 m6 l4">
					<div class="card">
						
						<div class="card-image">
						<%= image_tag "rhinopython.jpg", class: "circle responsive-img" %>
						</div>
						
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
							</span>
							<h4>Generative CAD Design with Python + Rhinocerous</h4>
						</div>

					</div>
				</div>

				<div class="col s12 m6 l4">
					<div class="card">
						
						<div class="card-image">
						<%= image_tag "p5d3.jpg", class: "circle responsive-img" %>
						</div>
						
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
							</span>
							<h4>Dynamic Graphs in D3.js</h4>
						</div>

					</div>
				</div>

				<div class="col s12 m6 l4">
					<div class="card">
						
						<div class="card-image">
						<%= image_tag "blog.jpg", class: "circle responsive-img" %>
						</div>
						
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
							</span>
							<h4>Make a Blog with Angular.js</h4>
						</div>
					</div>
				</div>

				<div class="col s12 m6 l4">
					<div class="card">
						
						<div class="card-image">
						<%= image_tag "node.jpg", class: "circle responsive-img" %>
						</div>
						
						<div class="card-content">
							<span class="card-title grey-text text-darken-4">
							</span>
							<h4>Full Stack Applications with Node.js</h4>
						</div>

					</div>
				</div>

		        <div class="divider-big"></div>
		        <div class="row" id="simple">
		            <div class="spacer"></div>
		            <div class="spacer"></div>
		            <div class="section center-align">
		                <h3 class="flow-text"></h3>
		            </div>
		            </div>

		        </div>
		        <div class="spacer"></div>
		    </div>
</div>